* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#wrapper {
    width: 1000px;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 1fr 6fr 2fr 1fr;
    gap: 10px;
}

header {
    background-color: red;
    grid-column: span 2;
}

nav {
    background-color: blue;
    grid-column: span 2;
}

aside {
    background-color: green;
    grid-row: span 2;
}

main {
    background-color: yellow;
}

#orange {
    background-color: orange;
}

footer {
    background-color: magenta;
    grid-column: span 2;
}

/*jetzt bin ich neuer*/
