* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#wrapper {
    width: 800px;
    margin: auto;
}

header,
main,
aside,
footer {
    background-color: gray;
}

header {
    height: 70px;
    padding: 10px;
    margin-bottom: 10px;
}

#logo {
    background-color: indianred;
    height: 20px;
    width: 30%;
    margin-bottom: 10px;
}

nav {
    background-color: lightblue;
    height: 20px;
}

main,
aside {
    height: 300px;
    padding: 10px;
    display: inline-block;
    margin: 0;
}

main {
    width: 550px;
}

aside {
    width: 236px;
    margin-left: 10px;
}

article {
    background-color: lightblue;
    height: 100px;
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
}

footer {
    height: 50px;
    margin-top: 10px;
}